<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR"/>
    <logger name="com.comcast.redirector.ruleengine.model.DistributionStatement" level="ERROR"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logXRERedirector.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>logXRERedirector.%i.log.zip</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>12</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5 MB</maxFileSize>
        </triggeringPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} [%t] %-5p %c{0} - %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="A1" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} [%t] %-5p %c{0} - %m%n</Pattern>
        </encoder>
    </appender>

    <logger name="com.comcast.xre.metrics.app" level="ERROR"/>
    <logger name="com.comcast.xre.host.core" level="ERROR"/>

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="A1"/>
    </root>
</configuration>
