<div class="row">
    <div class="col-md-3 input-params-col">
        <span class="label label-success input-params-label" ng-bind="vm.params.title"></span>
    </div>
    <div class="col-md-3">
        <label>Num of hosts to adjust</label>
        <input onkeyup="this.value=this.value.replace('-', '')" type="number" min="1" class="form-control"
               ng-model="vm.params.numberOfHostsToAdjust"
               ng-disabled="vm.modeIsNotSelected()">
    </div>
    <div class="col-md-2">
        <label>% Traffic addition</label>
        <input class="form-control"
               ng-model="vm.params.adjustedThreshold"
               ng-disabled="vm.modeIsNotSelected() || vm.mode.adjustedTrafficCalculationMode == 'ADJUSTED_TRAFFIC'">
    </div>
    <div class="col-md-2">
        <label>Adjusted weight</label>
        <input onkeyup="this.value=this.value.replace('-', '')" type="number" min="1" class="form-control"
               ng-model="vm.params.adjustedWeight"
               ng-disabled="vm.modeIsNotSelected() || vm.mode.adjustedTrafficCalculationMode == 'ADJUSTED_WEIGHT'">
    </div>
    <div class="col-md-2">
        <label>Default weight</label>
        <input onkeyup="this.value=this.value.replace('-', '')" type="number" min="1" class="form-control"
               ng-model="vm.params.defaultWeight"
               ng-disabled="vm.modeIsNotSelected()">
    </div>
</div>
